 .BlackB { background-color: #000066; color: #ffffff; padding-top: 5px; padding-bottom: 5px; font-weight: bold; margin-top: 5px; margin-left: 1px; margin-right: 1px; }
.besttredhome22 { padding: 4px; text-align: center; color: blue; background: yello; border: 4px double #fc0;  }


.djgonline padding: 3px 8px 4px 8px; display: inline; background: blue; color: #fff; font-weight: bold; border: 2px;}


.djrnred { background-color: red; color: white; border-top-width: 2px; border-top-color: skyblue; border-top-style: solid; padding-top: 05px; padding-bottom: 05px; font-weight: bold;  }


.djrngreen { background-color: green; color: white; border-top-width: 2px; border-top-color: skyblue; border-top-style: solid; padding-top: 05px; padding-bottom: 05px; font-weight: bold;  }


.besttredhome { padding: 4px; text-align: center; color: #0033ff; background: #ffffcc; border: 4px double #fc0;  }


.djrnlp { background-color: #f5eaac; color: blue; background-image: url(http://mycsszone.mobie.in/pack/5/halka.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; border: 1px groove #e4c686; font-weight: bold; padding-top: 02px; padding-bottom: 02px; padding-left: 02px; padding-right: 02px;  }


.djrnlp2 { background-color: yellow; color: red; background-image: url(http://mycsszone.mobie.in/pack/5/halka.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; border: 1px groove #FF00CC; font-weight: bold; padding-top: 02px; padding-bottom: 02px; padding-left: 02px; padding-right: 02px;  }


.Do { border-bottom:1px solid #ccc;font-size:small; padding:5px; text-align:center; }


.djrnlogo { background-color: #cc0099; color: white; border-top-width: 2px; border-top-color: skyblue; border-top-style: solid; padding-top: 05px; padding-bottom: 05px; font-weight: bold;  }


.Ankit {background:Red; color:#fff; text-align:center; font-size:110%; padding:5px; border-top:1px solid #660000; border-bottom:1px solid #660000; text-shadow: 1px 1px 1px #000; }


.A2 { background: -webkit-linear-gradient(top, #fcfeee 0%, #eeeeee 100%); border-bottom: 1px solid#ccc; padding: 5px; font-weight: normal; }


.A1 { background-color: rgb(221, 231, 241); border: 1px solid rgb(170, 187, 204); }



body *{ margin: 0; padding: 0; }



a img,:link img,:visited img { border: none; }



a	{ text-decoration:none; color:#F33; padding:5px; }



a:hover { text-decoration: none; }



body, td{  margin: 0;  padding: 0;  font-size: small;}



b{ font-weight:bold; }



textarea{ font-size:small; }




.tCenter	{ text-align:center; }


.logo	{ background: #252b2f url(http://djgonda.net/../image/s.png) repeat-x left center; padding-top: 2px; padding-left: 5px; padding-right: 5px; padding-bottom: 2px; text-align: center; color: #fff; border-bottom: 2px solid#dd4814; }



.logo	a { color:#fff; font-weight:bold; }



.search	{ background: #edecea; border:1px solid #d7ccc5; padding:8px; font-weight:bold; text-align:center; }




hr{background-color:#D2D2D2; border:medium none; height:1px; margin:2px 0; padding:0;}




h1,h2,h3{background:url(http://rajdhanimix.in/http://dhamakasong.in/images/shad6.png) repeat-x #FF0099; color:#fff;font-size:110%; padding:5px; border-top:0px solid #660000; border-bottom:2px solid cyan; text-shadow: 1px 1px 1px #333; text-align:center;}



h2 a{ color:#ffffff; }



h3{ text-align:left; }




.clr { clear:both; }



.absmiddle	{ vertical-align:middle; border:1px solid #999; padding:1px; box-shadow:0 0 2px #999;  }



.ct	{ margin-right:3px; vertical-align:middle; padding:1px; border:1px solid #999; }



.odd, .even, .sl	{ vertical-align:middle; }



.odd { background:#f5f5fa; }



.even { background:#fff; }



.mb { background:#f5f5f5; color:#222; padding:2px; text-align:center; border-bottom:1px dashed #ddd; }



.mb span{ font-weight:bold; }



.description { background:#f5f5f5; color:#222; padding:2px; text-align:center; }



.description a { text-decoration:underline; }



.filedescription { background:#f5f5f5; padding: 5px 0; text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }




.fl { }



.fl td{ padding:7px 2px; border-bottom:1px solid #ccc; }



.fl a{ vertical-align:middle; }



.fl img{ border:1px solid #bbb; padding:1px; }



.fl div{ display:table-cell; }



.tblimg	{ width:65px; text-align:center; }




.catRow div{ display:table-cell; }



.catRow div img { margin-right:5px; }




.az	{ text-align:center; padding:10px; background:#ffe6c1; }


.az a { border:1px solid #ffa384; padding:2px 5px; margin:1px; display:inline-block; background:#FFFFFF; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-decoration:none; font-weight:bold; }



.az .selected,.az a:hover { background:#f90; color:#fff; }




.artistRow a{ border-top:1px solid #ddd; }



.artistRow a{ font-weight:bold; display:block; font-weight:bold; padding:9px; display:block; }



.artistRow:hover { background:#f5f5f5; }




.link1{ color:#0E71C6; }



.button { color:#086C8F; font-weight:bold; }



.red { color:red;}



.info	{ color:red; background:#fff; text-align:center; padding:2px; }



p{ padding:2px 0; }



table	{ width:100%; margin:auto;}



.devider	{ height:5px;}




.dtype	{ border-bottom:1px solid #ccc; font-size:small; padding:8px; text-align:center; }



.dtype span{ border:1px solid #d50; padding:3px; border-radius:5px; background:#f90; color:#f5f5f5; }



.dtype a { border:1px solid #ccc; padding:3px; border-radius:5px; background:#f5f5f5; }




.fileName	{ font-weight:bold; }



.fileName	span{ color:#555; text-decoration:none;}



.fileName	img{ padding-right:3px;}



.downLink	{ margin:5px 0; }



.dwnLink	{ font-weight:bold; }


.dwnLink1, .dwnLink2, .dwnLink3,.dwnLink4	{ font-weight:bold; border-radius: 10px; box-shadow: 1px 1px 0 #555; color:#fff; display:inline-block; margin:2px; padding:5px; text-shadow: 1px 1px 0 #000; width: 160px; }



.dwnLink1	{ background:#ff6533; }


.dwnLink2	{ background:#f43d00; }



.dwnLink3	{ background:#f90; }



.dwnLink4	{ background:#992600; }




.pgn	{
    background: #FFF5D6;
    text-align: center;
    padding: 2px;
    color: #555;
    font-weight: bold;
}



.pgn a,.pgn span	{ border:1px solid #ccc; padding:2px 5px; margin:0 2px; background:#ddd; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-decoration:none; font-weight:bold; }



.pgn a:hover, .pgn span	{ background:#ddd; border-color:#ddd; }



.pgn div { padding-top:5px; }




img	{ vertical-align:middle; }



.showimage	{ padding:5px; text-align:center;}



a.top {color:#FF7F00; text-decoration:none; }



.updates div	{ border-bottom:1px solid #ddd; padding:4px; }




.catRow,.catRowHome	{ border-top:1px solid #ddd; font-weight:bold; }



.catRow:hover,.catRowHome:hover	{ background:#f5f5f5; }



.catRow a,
.catRowHome a { display:block; font-weight:bold; background:url(http://djmishan.in/../images/arrow.png) right center no-repeat; padding:9px; }



.catRow a div span,
.catRowHome  a div span,{ font-size:x-small; color:#5a5; font-weight:normal; }



.rd { color: #3a3; font-weight:normal; padding:0 5px; font-style:italic; }



.gn { color: #3a3; font-weight:normal; font-style:italic; }




.fl { border-bottom:1px solid #ddd; background:#fff;}



.fl:hover	{background:#f5f5f5;}



.fl span{ font-weight:normal; }



.fl span.mc { font-size:80%; color:#555; font-weight:bold;}



.fl span.alb { color: #67b241; font-style:italic;}



.fl span.ar { color: #d2691e; font-style:italic;}



.fl span.sr{ font-weight:bold; font-style:italic; color:#aaa; margin-right:3px; }



.fl a{ display:block; padding:8px; }



.fl a img{ margin-right:5px; vertical-align:middle; border:1px solid #999; padding:1px; box-shadow:0 0 2px #999;}




.fl a div div{ vertical-align:middle; display:table-cell; }



.fl a div{ vertical-align:middle; }




.path{ background: #eee; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:4px; margin:5px 0; font-weight:bold; }



.error{ background:#FFEFEF; border:1px solid #f00; margin:5px; padding:5px; font-weight:bold; text-align:center; color:#f00; }




.fshow { padding:3px; text-align:center; background:#fff; border-bottom:1px solid #ddd;}



.thumbimg{ vertical-align:middle; border:none; border-radius:10px; }



.db{ font-size:small; text-align:center; padding:5px;}




.top21	{ background:#edecea; font-weight:bold; padding:8px; text-align:center; }




.ad1 { background:red;  border-bottom:1px solid #a50; border-top:1px solid #fc0; color:#fff; }



.ad1 a { color:#fff; }




.fhd{ background:#F4F4F4; color:#555; border-bottom: 1px solid #ccc; border-radius:5px; font-weight:bold; margin:7px 0 0 0; padding:0 5px; display:inline-block; }



.fb { font-weight:bold; }



.ftrLink{ background:#0b1c13; border-bottom: 2px solid #f90; color:#fff; padding:5px; text-align:center; font-weight:bold; text-shadow:1px 1px 3px 
